In [32]:
import pandas as pd

In [33]:
df = pd.read_csv("test_spreadsheet.csv")
df

   column1  column2  column3  column4
0        1        5        2        3
1        3        3        4        8
2        4        7        9        2
3        5        9       10        4

In [34]:
#The size or 'shape' of a data frame is just
#the number of rows and the number of columns in it
#(rows,columns)
df.shape

(4, 4)