In [38]:
import pandas as pd

In [39]:
df = pd.read_csv("test_spreadsheet.csv")
df

   column1  column2 column3  column4
0        1      4.8       2      9.2
1        3      3.0      hi      8.7
2        4      7.0       9      2.3
3        5      9.0      10      4.1

In [40]:
#Now, we shall see the data type of each column in df
df.dtypes

column1      int64
column2    float64
column3     object
column4    float64
dtype: object